sentence-transformers
transformers
torch
accelerate
faiss-cpu
google-genai
google-generativeai
python-dotenv
fastapi
uvicorn
python-multipart
python-jose[cryptography]
sqlalchemy
asyncpg
alembic
passlib[bcrypt]
email-validator
langchain-text-splitters
PyMuPDF
psycopg2-binary
bcrypt==4.0.1
supabase
pydantic
langchain-core
pgvector
sqlalchemy-paradedb
langgraph
langchain-google-genai
langchain-community
cloudinary
Pillow
spacy
ragas
pdfplumber
groq
anthropic
numpy
# Download spaCy model after install:
# python -m spacy download en_core_web_sm